/* src/assets/styles/fonts.css */
@font-face {
  font-family: "PixelUA";
  src: url("../fonts/CGXYZPCAlt-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
